<ul class="list-inline d-flex justify-content-around flex-wrap">
  <li *ngFor="let character of characters.results">
    <div class="card m-3" style="width: 18rem">
      <a routerLink="/details/{{ character.id }}"
        ><img
          class="card-img-top"
          [src]="character.image"
          alt="{{ character.name }} photo"
      /></a>
      <div class="card-body d-flex justify-content-center bg-secondary">
        <p class="card-title text-light">{{ character.name }}</p>
      </div>
    </div>
  </li>
</ul>
