<div class="d-flex flex-column align-items-center">
  <div>
    <p class="fs-2 fw-bold title">{{ name }}</p>
  </div>
  <div><img src="{{ image }}" alt="" width="300" /></div>
  <div>
    <span class="property fw-bold">Gender: </span><span>{{ gender }}</span>
  </div>
  <div>
    <span class="property fw-bold">Location: </span><span>{{ location }}</span>
  </div>
  <div>
    <span class="property fw-bold">Origin: </span><span>{{ origin }}</span>
  </div>
  <div>
    <span class="property fw-bold">Specie: </span><span>{{ species }}</span>
  </div>
  <div>
    <span class="property fw-bold">Status: </span><span>{{ status }}</span>
  </div>
</div>
